$font-stack: Roboto, Arial, Helvetica, sans-serif;
$primary-color: #000;
$secondary-color: #333;
$light-black:#888888;
$light-blue:blue;
  
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}


@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}



body{
    font: 16px/25px $font-stack ;
    color:$primary-color;
    background:#bbbbbb;
   }



.primary{
    background:red;
    color:#000;
}


.secondary{
    @extend .primary;
    background: #00f;
}

header{ height:100px; background:$light-black; }
nav{
    
    width:100%;
    display: block;
    background: #000;
    ul{
        
        li{
            display: inline-block;
            a{
                display: inline-block; padding:10px; background:#8a1; color:$light-blue;
                
            }
        }
    }
}


.box { @include border-radius(10px); }

.box{ @include transform(scale(10deg)  rotate(300deg)); }

.box{ @include translate(10,20) }

.newBox{ @include translate(10,20); @include border-radius(10px);   }



